<h1>Minhas Receitas</h1>

<h2>Total de Receitas cadastradas: <%= @recipes.count %></h2>

<% @recipes.each do |recipe| %>
  <%= link_to recipe.title, recipe %>
<% end %>

<p><%= link_to 'Voltar', root_path %></p>